.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:60px auto;
}
.legalInformation {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px
}


